footer
  p Copyright UPSSITOPIA - 2021/2022
  p 
    | Site réalisé par 
    a#cr(href="https://guillaume-prog.com" target="_blank") Guillaume Roussin

style.
  footer {
    display: flex;
    gap: var(--gap-0);
    flex-direction: column;
    align-items: center;
    padding: var(--gap-2) var(--gap-3);
  }
  
  footer p {
    margin: 0;
  }
  
  footer a#cr {
    color: var(--black);
  }
