include /components/button

header
  nav.flex-between
    img#logo(src="/img/upssitopia.png" alt="UPSSITOPIA")
    #nav-menu
      a Notre mission
      a L'équipage
      a Contact
      
  #header-main
    h1 UPSSITOPIA
    h3 Embarquez à bord de l'UPSSITOPIA vers une année de rêve
    #header-cta
      +button Notre programme
      +button(class="orange")
        i(data-feather="instagram")
        | Suivez-nous


style.
  header {
    color: var(--white);
    
    height: 100%;
    position: relative;
    
    display: grid;
    grid-template-rows: auto 1fr;
  }

  header::before, header::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }

  header::before {
    background-color: var(--black);
    z-index: -2;
  }

  header::after {
    background: url('img/space.png') center center;
    background-size: cover;
    
    opacity: 0.3;
    z-index: -1;
  }
    
  /* Navigation bar */

  header nav {
    background-color: var(--secondary-header);
    padding: var(--gap-1) var(--gap-3);

    font-size: 22pt;
  }

  header nav #logo {
    width: 48px;
  }

  header nav #nav-menu {
    display: flex;
    align-items: center;
    gap: var(--gap-3);
  }

  header nav #nav-menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  /* Central part */

  header #header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header #header-main h1 {
    margin: 0 0 var(--gap-0);
    font-size: 6vw;
  }

  header #header-main h3 {
    color: var(--primary);
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9vw;
  }
  
  /* Button section */

  header #header-main #header-cta {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-3);
    margin-top: var(--gap-3);
  }
